{{- $occ := where (where site.RegularPages "Section" "posts") ".Params.occupationTitle" "!=" nil -}}
{{- $sorted := sort $occ ".Params.occupationTitle" "asc" -}}
{{- $letter := "" -}}
{{- $published := slice -}}
{{- range $sorted -}}
  {{- $published = $published | append (upper (substr .Params.occupationTitle 0 1)) -}}
{{- end -}}
<div class="occupation-count"><strong>{{ len $occ }} Occupations Covered</strong></div>
<div class="occupation-alphabet">
{{- range $line := (slice (seq 0 12) (seq 13 25)) -}}
  <div class="occupation-alphabet-line">
  {{- range $alphabet := $line -}}
    {{- $l := printf "%c" (add 97 $alphabet) -}}
    {{- $L := upper $l -}}
    {{- if in $published $L -}}
      <a class="occupation-alphabet-letter active" href="#{{ $L }}">{{ $L }}</a>
    {{- else -}}
      <span class="occupation-alphabet-letter inactive">{{ $L }}</span>
    {{- end -}}
  {{- end -}}
  </div>
{{- end -}}
</div>
<div class="occupation-map">
{{- range $sorted -}}
  {{- $t := .Params.occupationTitle -}}
  {{- $l := upper (substr $t 0 1) -}}
  {{- if ne $l $letter -}}
    {{- $letter = $l -}}
    <h2 class="occupation-letter" id="{{ $l }}">{{ $l }}</h2>
  {{- end -}}
  <div class="occupation-entry">
    <a class="occupation-title" href="{{ .RelPermalink }}">{{ $t }}</a>
    {{- with .Params.alternativeTitles }}
    <p class="occupation-alt"><em>Also known as:</em> {{ delimit . ", " }}</p>
    {{- end }}
    {{- with .Params.shortDescription }}
    <p class="occupation-desc">{{ . }}</p>
    {{- end }}
  </div>
{{- else -}}
<p>No occupation articles published yet.</p>
{{- end -}}
</div>
